.full-background {
    /* Center the content */
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: start;

    /* Take full size */
    height: 100vh;
    width: 100%;

    /* Background */
    background: url(../img/bg.jpg) center center / cover no-repeat;
}

h5 {
  color: rgba(255, 255, 255, 0.685)
}

.landing{
  padding-top: 15%;
}

.order-page {
  padding-top: 5%;
}

.social-icons {
    margin: 0;
    padding: 0;
  }
  .social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  .social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #F14E95;
    padding-left: 10px;
    padding-right: 10px;
  }
  .social-icons li a i {
    font-size: 20px;
  }

  .btn-order {
    margin-top: 2rem;
  }

  .costum-padding {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }